[submodule "themes/next"]
	path = themes/next
	url = https://github.com/vitelabs/hexo-theme-next.git
[submodule "source/lib/needsharebutton"]
	path = source/lib/needsharebutton
	url = https://github.com/theme-next/theme-next-needmoreshare2
[submodule "source/lib/reading_progress"]
	path = source/lib/reading_progress
	url = https://github.com/theme-next/theme-next-reading-progress
[submodule "source/lib/jquery_lazyload"]
	path = source/lib/jquery_lazyload
	url = https://github.com/theme-next/theme-next-jquery-lazyload
[submodule "source/lib/pace"]
	path = source/lib/pace
	url = https://github.com/theme-next/theme-next-pace
